body
{
    font-family: Agency FB;
    color: #467019;
    font-size: 20px;
}

#masthead
{
    background-color: #467019;
}

#UVULogo
{
    padding: 20px;
}

#Menu1
{
    float: right;
    padding: 20px;
}

h1
{    
    font-weight: bold;
    font-size: 30px;
}

h2
{
    font-weight: normal;
    font-size: 20px;
}

#leftgrcontainer
{
    background-color: #467019;
    color: White;
}

hr
{
    color: #E5E749;
    width: auto;
}