body
{
    font-family: Agency FB;
    color: #467019;
    font-size: 20px;
}

#masthead
{
    background-color: #467019;
}

#UVULogo
{
    padding: 20px;
}



h1
{    
    font-weight: bold;
    font-size: 30px;
}

h2
{
    font-weight: normal;
    font-size: 20px;
}

#leftgrcontainer
{
    background-color: #467019;
    color: White;
}

#leftwwhcontainer
{
    background-color: white;
    color: #467019;
}

#rightgrcolumn
{
    background-color: #467019;
    color: White;
}

#singlecolumn
{
    background-color: #FFFFFF;
    color: #467019;
}

hr
{
    color: #E5E749;
    width: auto;
}

.menustyle
{
    float: right !important;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
}

.center2
{
    text-align:center;
}

.productright
{
    float:left;
    width:50%;
    text-align:left;    
    height:30px;
        
}

.productleft
{
    float:left;
    width:50%;
    text-align:right;
        
}
